[submodule "TandemGlycoPeptidePipeline/python/glycresoft_ms2_classification"]
  path = TandemGlycoPeptidePipeline/python/glycresoft_ms2_classification
  url = https://github.com/GlycReSoft2/embed_tandem_ms_classifier.git